<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - ayudaEstudiante</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/custom.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/ayudaEstudiante.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css">

</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container-fluid">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index"><img style="width:100px; height: 50px; margin-left:10px;" src="https://itla.edu.do/images/logos/identidad_2020/logo-fondo-blanco.png"/></a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                       <li class="nav-item nav-reporte">
                            <a class="nav-link text-danger" asp-area="" asp-controller="Home" asp-action="Index">report bug</a>
                        </li>
                       <!--<li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
                        </li>-->
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

<footer class="border-top footer text-muted seccion-final" >
        <div class="container" id="con">
           
                  <div class="row justify-content-center md-3">
                            <div class="col-md-3">
                                <h5 class="text-left">Informacion</h5>
                                <p>Este sitio web fue desarrollado con booststrap y .net</p>    
                    
                            </div>

                              <div class="col-md-3">
                                <h5>Proposito</h5>
                                <p>Este sitio web fue creado para darle una ayuda a los 
                                    <br/>
                                    ingresados y a los que estan interesando en 
                                    <br/>
                                    estudiar una de las carreras que ofrese el itla.
                                </p>

                            </div>
                            <div class="col-md-3">
                                <h5>Correos</h5>
                                <p>Obedsilvestre339@gmail.com
                                    <br/>
                                    odiseorincon@gmail.com
                                    </br>
                                     chobiogandomontero@gmail.com
                                </p>
                        
                       
                            </div>
                          
                  
                  </div>
                  <div class="row justify-content-center">
                     &copy; 2023 - ParaElUsuario 

                  </div>
        </div>
    </footer>



    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
